<!DOCTYPE html>
<html lang="en">
<!--Usando plantilla definida por Chantell Alvarenga pero agregando el componente registro-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Veterinaria Lissette</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <header class="bg-info text-white p-2 mb-3">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <img
            src="https://st2.depositphotos.com/5056293/9389/v/450/depositphotos_93899252-stock-illustration-vector-sign-veterinary.jpg"
            alt="Logo veterinaria Lissette" height="50px" height="60px">
        </div>
        <div class="col-md-5">
          <h1 class="title">Veterinaria Lissette</h1>
        </div>
        <div class="col-md-5 align-self-center">
          <input type="text" class="form-control">
        </div>
        <div class="col-md-1 align-self-center">
          <button type="button" class="btn btn-dark btn-sm">
            <span class="glyphicon glyphicon-search"></span> Search
          </button>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="jumbotron text-center">
      <div class="row">
        <div class="col-md">
          <h2>Bienvenido</h2>
          <hr>
          <h6 class="text-justify">Nuestra exigencia y compromiso nos posicionan como laboratorio veterinario de
            referencia en técnicas especiales.
            Contamos con un amplio catálogo de más de 300 pruebas y perfiles a medida para todo tipo de especies
            animales: perros, gatos, caballos, exóticos y salvajes.
            <br><br>
            Nuestras unidades de análisis específicas como la anatomía patológica, la microbiología y la bioquímica
            entre otras, permiten dar servicio a veterinarios clínicos e industriales.</h6>
        </div>
      </div>
    </div>

    <!--Inicio componente registro-->
    <app-registro></app-registro>
    <!--Fin del componente registro-->

  </div>

  <div class="row pt-3">
    <div class="col-md-12 footer bg-info text-center text-white p-2">
      <h4>Veterinaria Lissette </h4>
      <p><span>© 2020 </span></p>
    </div>
  </div>
</body>

</html>